---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

// src/pages/index.astro
---

<Layout>
	<main class="min-h-screen flex flex-col items-center justify-center gap-6 bg-gray-100">
	  <div class="flex flex-col items-center space-y-4">
		<a
		  href="/crear-usuario"
		  class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-6 rounded"
		>
		  Crear Usuario
		</a>
  
		<a
		  href="/busqueda"
		  class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-13 rounded"
		>
		  Buscar
		</a>
	  </div>
	</main>
  </Layout>
  

