---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

// src/pages/index.astro
---

<Layout>
	<main class="min-h-screen flex flex-col items-center justify-center gap-6 bg-gray-100">
	  <div class="flex flex-col items-center space-y-4">
		<a
		  href="/lista-usuarios"
		  class="bg-yellow-500 hover:bg-yellow-600 text-white font-bold py-2 px-6 rounded"
		>
		  Lista de Usuarios
		</a>
		<a
		  href="/modo-asistencia"
		  class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-6 rounded"
		>
		  Modo Asistencia
		</a>
		<a
		  href="/modo-visualizacion"
		  class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-6 rounded"
		>
		  Modo Visualización
		</a>
	  </div>
	</main>
  </Layout>
  

